:root {
  --color-arsenic: #3a4042;
  --color-old-silver: #828282;
  --color-eggshell: #eae6da;
  --color-floral-white: #fffcee;
  --color-alura: #051932;
  --color-pomb-and-power: #7c5e99;
  --color-fiery-rose: #f25a70;
  --color-cardial: #ba1f33;
  --color-sandstorm: #f5d547;
  --color-mantis: #62c370;
}
